.body {
  padding-top: 90px;
}

.body-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcf4e0;
  width: calc(100% - 900px);
  margin: 110px auto;
  border-radius: 12px;
}

.Body-title {
  margin-top: 48px;
  margin-bottom: 25px;
  font-size: 4rem;
  font-weight: 600;
}

.body-username,
.body-password {
  position: relative;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 8px;
}

.body-password {
  margin-top: 40px;
}

.body-username-label,
.body-password-label {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 400;
  left: 12px;
  top: 10px;
}

.body-username-input,
.body-password-input {
  width: 500px;
  height: 50px;
  outline: none;
  border: none;
  border-radius: 8px;
  font-family: "kanit";
  font-size: 2.8rem;
  font-weight: 400;
}

.body-username-input {
  padding: 14px 40px 14px 160px;
}

.body-password-hidden {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.body-password-input {
  padding: 14px 60px 14px 150px;
}

.error {
  font-size: 2.4rem;
  font-weight: 400;
  color: #ff0000;
  margin-top: 12px;
}

.body-button {
  cursor: pointer;
  font-family: var(--font-genos);
  font-size: 3rem;
  font-weight: 600;
  background-color: #e9b32d;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 48px;
  margin-top: 40px;
  transition: all 0.3s linear;
}

.body-button:hover {
  transform: scale(1.06);
}
