.detail {
  position: relative;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 1;
}

.detail-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 44px;
}

.detail-title {
  font-size: 4rem;
  font-weight: 500;
  color: #000;
  margin-left: 400px;
}

.detail-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 400px;
}

.detail-return-button,
.detail-show-button {
  padding: 12px 20px;
  border-radius: 24px;
  background-color: #f2ca68;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.detail-show-button {
  margin-left: 12px;
}

.detail-return-button:hover,
.detail-show-button:hover {
  background-color: #e9b32d;
}

.return-ico,
.show-ico {
  width: 30px;
  height: 30px;
}

.return-text,
.show-text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  margin-left: 12px;
}

.detail-body {
  margin: 40px 0;
  padding: 40px 30px;
  border: 8px solid #e9b32d;
  border-radius: 16px;
}

.detail-id,
.detail-status,
.detail-route-name,
.detail-start-time,
.detail-start-date,
.detail-end-date,
.detail-bus,
.detail-driver {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 30px;
}

.detail-status {
  display: flex;
  justify-content: start;
  align-items: center;
}

.status-color {
  margin-left: 4px;
}

.active {
  color: #00c951;
}

.inactive {
  color: #ff0000;
}

.student-title {
  font-size: 3rem;
  font-weight: 500;
  color: #000;
}

.student-list {
  padding: 12px;
  border-radius: 16px;
  border: 4px solid #e9b32d;
  margin-top: 12px;
  max-height: 400px;
  overflow-y: auto;
}

.student-card {
  padding: 14px 24px;
  background-color: #f2ca68;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.student-id,
.student-name,
.student-parent {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
}

.student-name {
  margin: 0 40px;
}
