.Shedule {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Shedule-slogan {
  font-size: 4.2rem;
  font-weight: 500;
  color: #000;
  margin-top: 74px;
}

.Shedule-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 48px;
}

.Shedule-title {
  font-size: 3.4rem;
  font-weight: 500;
  color: #000;
  margin-left: 300px;
}

.Shedule-add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 24px;
  border-radius: 24px;
  background-color: #f2ca68;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid #000;
  margin-right: 300px;
}

.Shedule-add-button:hover {
  background-color: #e9b32d;
}

.add-button-ico {
  width: 40px;
  height: 40px;
}

.add-button-text {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  margin-left: 12px;
}

.Shedule-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 24px;
  border-radius: 12px;
  background-color: #e9b32d;
  margin: 40px 0;
  border: 2px solid #000;
}

.Shedule-tool {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Shedule-searchbar {
  position: relative;
}

.Schedule-bar {
  padding: 12px 60px 12px 24px;
  background-color: #fff;
  border-radius: 24px;
  font-family: "kanit";
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  outline: none;
  border: 2px solid #000;
}

.Schedule-search-ico {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 16px;
}

.Schedule-time {
  margin-left: 44px;
}

.Schedule-from,
.Schedule-to {
  display: flex;
  justify-content: start;
  align-items: center;
}

.Schedule-label {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
}

.Schedule-time-from,
.Schedule-time-to {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  font-family: "kanit";
  padding: 10px;
  border-radius: 12px;
  margin-left: 32px;
  cursor: pointer;
}

.Schedule-time-to {
  margin-top: 12px;
}

.Shedule-list {
  padding: 24px 30px;
  border-radius: 12px;
  background-color: #fff;
  border: 2px solid #000;
  margin-top: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-height: 400px;
  overflow-y: auto;
}

.Schedule-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px;
  border-radius: 12px;
  margin: 10px 0;
  background-color: rgb(242, 202, 104, 0.44);
}

.Schedule-id,
.driver-name,
.bus-id {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  width: fit-content;
}

.driver-name,
.bus-id {
  margin-left: 100px;
}

.Schedule-status-ico,
.Schedule-menu-ico,
.Schedule-delete-ico,
.modify-menu-ico {
  width: 40px;
  height: 40px;
  margin-left: 36px;
}

.Schedule-status-ico {
  margin-left: 100px;
}

.Schedule-menu-ico,
.Schedule-delete-ico,
.modify-menu-ico {
  cursor: pointer;
}
