.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9b32d;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 9999;
}

.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px 120px;
  text-decoration: none;
  color: #000;
}

.navbar-left-brand {
  font-size: 2.2rem;
  font-weight: 600;
  margin-right: 10px;
}

.navbar-left-logo {
  width: 50px;
  height: 50px;
}

.navbar-right-button {
  cursor: pointer;
  font-size: 1.8rem;
  margin-right: 120px;
  font-weight: 600;
  padding: 10px 30px;
  border-radius: 12px;
  transition: all 0.3s linear;
  background-color: #fff;
}

.navbar-right-button:hover {
  transform: scale(1.06);
}
